<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location>
        <!--<system.web>
            <authentication mode="Forms">
                <forms loginUrl="~/Account/Login" timeout="2880" />
            </authentication>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>-->
        <system.webServer>
            <security>
                <!--<authentication>
                    <anonymousAuthentication  enabled="true"/>
                </authentication>-->
                <authorization>
                    <!--<remove users="*"/>-->
                    <!--<add accessType ="Deny" users ="?"/>--> 
                </authorization>
                <!--<requestFiltering>
                    <hiddenSegments>
                        <add segment="mvv"/>
                    </hiddenSegments>
                </requestFiltering>-->
            </security>
        </system.webServer>
    </location>


</configuration>