<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>MV</title>
    <link type="text/css" rel="stylesheet" href="mv.css" />
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.1.2.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script type="text/javascript" src="util.js"></script>
    <script type="text/javascript" src="common.js"></script>
    <script type="text/javascript" src="graphic.js"></script>
    <script type="text/javascript" src="localizer.js"></script>
    <!--<script type="text/javascript" src="jatekosmanager.js"></script>-->
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="mvapp.js"></script>
</head>
<body id="body" style="margin: 0">
    <div id="wrapper">
        <canvas id="mapcanvas" width="940" height="960" class="b"></canvas>
        <script>
            app.drawBackGround();
        </script>
        <img src="images/alap2.bmp" width="940" height="960" alt="Planets" usemap="#planetmap" style="position:absolute;left:0; top:0; opacity:0" />
        <map name="planetmap">
            <script type="text/javascript">
                var c = document.getElementById("mapcanvas");
                var ctx = c.getContext("2d");
                app.drawMap();
            </script>
        </map>
    </div>
    <div id="players">

    </div>
    <div id="selectedBabu" class="selectedBabu"></div>
    <div id="#templates" style="display:inherit">
        <div id="tmp_babu" data-babu="1">
            <div class="babu-szam"></div>
        </div>
        <div id="tmp_lada" data-lada="1">
        </div>
        <div data-ng-app="mvApp">
            <div id="board" ng-controller="boardController">
                <div>{{ currentPlayerStr() }}</div>
                <div ng-switch="partyPhase">
                    <div ng-switch-when="1">
                        PH 1
                        <table>
                            <tr ng-repeat="player in players">
                                <td>{{ player.Nick }}</td>
                                <td>{{ connectionStatus(player.ClientStatus) }}</td>
                                <td>
                                    <div ng-if="isThisClient(player.Id) && !player.szinMehet" class="animate-if">
                                        <select id="ddSzin" ng-options="item as '' for item in szabadSzinek" ng-model="selectedSzin" ng-change="szinValasztas(selectedSzin)" ng-class="szin(selectedSzin.toString())"></select>
                                        <div>{{ selectedSzin }}</div>
                                        <input type="button" value="Mehet" ng-click="mehet()" />
                                    </div>
                                    <div ng-if="!isThisClient(player.Id) || player.szinMehet" class="animate-if" ng-class="szin(player.Szinkod.toString())">
                                        KUTTYA
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div ng-switch-when="2">
                        <table>
                            <tr ng-repeat="player in players">
                                <td>
                                    <table>
                                        <tr>
                                            <td>{{ player.Nick }}</td>
                                            <td>{{ player.status }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="playerTile-wr">
                                                    <img src="/Games/mv/images/fegyver.png" class="playerTile" />
                                                    <div class="playerTile-cnt">{{ player.fegyverek }}</div>
                                                </div>
                                                <div ng-repeat="mamut in player.mLapkak" class="playerTile-wr">
                                                    <img src="/Games/mv/images/mamut.png" class="playerTile" />
                                                    <div class="playerTile-cnt">{{ mamut.count }}</div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div id="remove-babu-area"><a href="javascript:void(0)" data-remove-babu="1">Remove Babu</a></div>
                    </div>
                    <div>{{ message }}</div>
                </div>
                <div id="error" class="error-area">
                    <div id="error-text"></div>
                    Kapcsolódási hiba történt ahogy elnézem. Jó lenne frissíteni az oldalt.
                </div>
                <input type="button" value="Frissítés" onclick="location.reload()" />
                <div id="msgBoard"></div>
            </div>
        </div>
</body>
</html>
