.babu_p, .babu_k, .babu_z, .babu_s { background-size: 100% 100%; width: 30px; height: 30px; position: absolute; cursor:pointer }
.babu_p { background-image: url(images/babu_p.png); }
.babu_k { background-image: url(images/babu_k.png); }
.babu_z { background-image: url(images/babu_z.png); }
.babu_s { background-image: url(images/babu_s.png); }
.selectedBabu { background-image: url(images/babu_selected.png); background-size: 100% 100%; width: 30px; height: 30px; position: absolute; cursor:pointer; }
.babu-szam { text-align:center; position: relative; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.lada_p, .lada_k, .lada_z, .lada_s { background-size: 100% 100%; width: 15px; height: 15px; position: absolute; }
.lada_p, .szin_p { background-color: red; color: red; }
.lada_k, .szin_k { background-color: blue }
.lada_z, .szin_z { background-color: green }
.lada_s, .szin_s { background-color: yellow }
.szin_0 { background-color: white }

.playerSelectedSzin { height: 17px}

select option:hover {
        box-shadow: 0 0 10px 100px #1882A8 inset;
   }

.tile-Hidden { display:none; }
.tile-NyariTabor, .tile-TeliTabor { width: 100px; height: 87px; position:absolute;}

.tile-NyariTabor:before, .tile-Bogyo:before, .tile-Ut:before, .tile-Gyoker:before, .tile-Fegyver:before, .tile-Korso:before, .tile-Nyaklanc:before,
.tile-Barlang:before, .tile-Fuszer:before, .tile-Mamut:before, .tile-TeliTabor:before,
.tile-tBogyo:before, .tile-tGyoker:before, .tile-tFegyver:before, .tile-tIrha:before, .tile-tKoponya:before,
.tile-tFuszer:before, .tile-tMamut:before,
.tile-tNyariTabor:before, .tile-tUt:before, .tile-tTeliTabor:before, .tile-tBarlang:before
{ content: ""; position: absolute; background-size: 100% 100%; z-index:-2 }

.tile-NyariTabor:before, .tile-tNyariTabor:before { left: 0; top: 0; width:100px; height:87px; background-image: url(images/nyari_tabor.png); }
.tile-TeliTabor:before, .tile-tTeliTabor:before { left: 0; top: 0; width:100px; height:87px; background-image: url(images/teli_tabor.png); }
.tile-Bogyo:before { left:5px; top: 1px; width:90px; height:85px; background-image: url(images/bogyo.png); }
.tile-Ut:before, .tile-tUt:before { left:5px; top: 1px; width:90px; height:85px; background-image: url(images/ut.png); }
.tile-Gyoker:before { left:5px; top: 1px; width:90px; height:85px; background-image: url(images/gyoker.png); }
.tile-Fegyver:before { left:5px; top: 1px; width:90px; height:85px; background-image: url(images/fegyver.png); }
.tile-Korso:before { left:4px; top: 1px; width:90px; height:85px; background-image: url(images/korso.png); }
.tile-Nyaklanc:before { left:6px; top: -2px; width:90px; height:90px; background-image: url(images/nyaklanc.png); }
.tile-Barlang:before, .tile-tBarlang:before { left:6px; top: -2px; width:90px; height:90px; background-image: url(images/barlang.png); }
.tile-Fuszer:before { left:6px; top: -2px; width:90px; height:90px; background-image: url(images/fuszer.png); }
.tile-Mamut:before { left:6px; top: -2px; width:90px; height:90px; background-image: url(images/mamut.png); }

.tile-tBogyo:before { left:8px; top: 1px; width:84px; height:84px; background-image: url(images/bogyo_t.png); }
.tile-tGyoker:before { left:8px; top: 2px; width:83px; height:83px; background-image: url(images/gyoker_t.png); }
.tile-tFegyver:before { left:8px; top: 2px; width:83px; height:83px; background-image: url(images/fegyver_t.png); }
.tile-tIrha:before { left:8px; top: 2px; width:83px; height:83px; background-image: url(images/irha_t.png); }
.tile-tKoponya:before { left:8px; top: 2px; width:83px; height:83px; background-image: url(images/koponya_t.png); }
.tile-tFuszer:before { left:8px; top: 2px; width:83px; height:83px; background-image: url(images/fuszer_t.png); }
.tile-tMamut:before { left:8px; top: 2px; width:83px; height:83px; background-image: url(images/mamut_t.png); }

.isolatedTile { opacity: 0.4 }

.base6 {
    position: absolute;
    background-image: url(images/alap2.png);
    width: 100px;
    min-height: 87px;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 0px;
    font-size: 30pt;
    z-index:-1;
    /*border: 1px solid black;
            opacity:0.2;*/
}

.b {
    border: 1px solid black;
}

#wrapper { float:left }

#board {
    position: fixed;
    left: 990px;
    min-width: 200px;
}

#msgBoard { height: 400px; overflow:scroll; }

#msgBoard div {
    border-top: solid 1px black;
}

#error-text { color: red; }
.error-area { display:none; }
#remove-babu-area { height: 40px}

.playerTile { width: 40px}
.playerTile-wr { float: left }
.playerTile-cnt { text-align:center; font-weight:bold }

.playerResultItem { float: left}
.playerResultItem-img {width: 50px}